<ion-button (click)="pageSobre">Sobre</ion-button>



<ion-grid>
  <ion-row>
    <ion-col class="                        " size="">

      <ion-img src=""></ion-img>

        Nome Destaque

    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col size-xs="6" size-md="3">

      <ion-img src=""></ion-img>

      Nome2

    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col size-xs="6" size-md="3">

      <ion-img src=""></ion-img>

      Nome3

    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col size-xs="6" size-md="3">

      <ion-img src=""></ion-img>

      Nome5

    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col size-xs="6" size-md="3">

      <ion-img src=""></ion-img>

      Nome5

    </ion-col>

  </ion-row>





</ion-grid>
